name: Terraform Plan with Sentinel Check

on:
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout
        uses: actions/checkout@v4

      # Step 2: Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Step 3: Terraform Init
      - name: Terraform Init
        run: terraform init -upgrade

      # Step 4: Terraform Plan (connected to Terraform Cloud workspace)
      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # Step 5: Sentinel Check in Terraform Cloud
      - name: Sentinel Policy Check
        run: terraform show -json tfplan | sentinel apply -config=sentinel.hcl -
